<div id="line"></div>
<footer>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-3">

      </div>

      <div class="col-md-3">
        <a class="underline" href="">
          <strong>Contáctenos</strong>
        </a>
        <br>
        <a href="" class="underline">Solicitar Catalogo</a>
        <br>
        <a href="" class="underline">Aplicar a un Crédito</a>
        <br>
        <a href="" class="underline">Escríbanos un email</a>
      </div>

      <div class="col-md-3">
          <a class="underline" href="">
            <strong>Sobre Nosotros</strong>
          </a>
          <br>
          <a href="" class="underline">Quiénes Somos</a>
          <br>
          <a href="" class="underline">Políticas de Trabajo</a>
          <br>
          <a href="" class="underline">Saber más</a>
        </div>
    </div>
  </div>
</footer>
