/* You can add global styles to this file, and also import other style files */
body {
  background: #f9f9f9 !important;
  overflow-x: hidden;

}

.pic-header {
  height: 350px;
  width: 100%;
  background-image: url('assets/img/construccion_bg.jpeg');
  background-size: cover;
}

.pic-cover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.title {
  height: 150px;
  position: relative;
  top: 100px;
}

.equipment {
  display: none;
  height: auto;
  background: #fff !important;
  border: lightgray solid 1px;
  border-radius: 4px;
  padding: 12px;
  text-align: center;
  margin-top: 30px;
}

.equipment img {
  max-width: 100%;
  height: auto;
}

.btndetails {
  border: solid gray 2px;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
  transition: all 1s;
  /* transition: all 300ms */
}

.btndetails:hover {
  text-decoration: none;
  background: #0050a9;
  color: #fff;
  border:none;
}

.parallax {
  margin-top: 30px;
  width: 100%;
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: container;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
      background-attachment: scroll;
  }
}

h2{ font-weight: 100 !important}
.round {border-radius: 21px !important}

.white-content{
  background: #fff; padding: 20px; padding-bottom: 50px;
}
.white-content p{ text-align: justify}
