<nav class="navbar navbar-expand-lg" id="blue-bar">
  <ul class="navbar-nav mr-auto"></ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="">+22 34819 3819</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Contacto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Acceder / Registrarse</a>
    </li>
  </ul>

</nav>


<nav class="navbar navbar-expand-lg" id="menuBar">
  <a class="navbar-brand" href="#">MarioRentas</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars" style="color:#fff"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Equipo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Renta de Equipo</a>
          <a class="dropdown-item" href="#">Venta de Equipo</a>
          <a class="dropdown-item" href="#">Capacitaciones</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Marcas</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Servicios</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <input type="text" id="searchBox" style="display: none" placeholder="Buscar equipo...">
          <i class="fas fa-search" id="searchIcon" (click)="searchAnimate()"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
    </ul>



  </div>
</nav>
